//style4.scsss
div{
  height: 50px;
  margin-bottom: 10px;
  background-color: pink;
}

//1부터 5까지 반복 실행
@for $i from 1 to 6{
  // div:nth-of-type(#{$i}){
  //   width: 50px*$i;//50씩 증가
  //   /*
  //     50*1=50
  //     50*2=100
  //     50*3=150
  //     50*4=200
  //     50*5=250
  //   */
  // }
}
@for $i from 1 through 6{
  div:nth-of-type(#{$i}){
    width: 100px*$i;//50씩 증가
    /*
      50*1=50
      50*2=100
      50*3=150
      50*4=200
      50*5=250
    */
  }
}
@for $i from 1 through 11{
  dt:nth-of-type(#{$i}){
    color:#063;
    position: relative;
    padding: 20px 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  dd:nth-of-type(#{$i}){
    background-color: #f4f4f2;
    padding: 20px 10px;
    margin: 0px;
  }
}
.qna{
  width: 1024px;
  margin: 0 auto;
}
.qna > h3{
  font-size: 36px;
  color: #333;
}
.qna span{
  color:#063;
}
.searchbox{
  height: 56px;
  background-color: #f4f4f2;
  position: relative;
}
#search{
  width: 300px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: 70px;
  border: 1px solid #ccc;
  border-radius: 5px;

}
label{
  display: block;
  background-color: #333;
  color: #fff;
  width: 50px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 12px;
  right: 10px;
  border-radius: 5px;
}
i.fas{
  color: #333;
  position: absolute;
  right: 0px;
  font-size: 24px;
}
dt:first-child{
  border-top: 2px solid #333;
}

// //선생님 풀이 
// .act{
//   transform: rotate(180deg) translate(-10px, -14px) !important;
  
// }