// style2.scss

//전역변수
$max_width:1180px;

// 12개의 그리드 레이아웃 컬럼
// 박스가 가지는 컬럼에 따라 가로크기가 지정되는 함수를 작성하기
@function colum($number:1, $all:12){
  @return $max_width*($number/$all);
}

.wrap{
  width: $max_width;
  border: 3px solid #00f;
}

.box01, .box02, .box03{
  height: 100px;
  margin: 10px 0px;
}

// 12컬럼에서 1개의 컬럼만 표사됨
.box01{
  width:colum();
  background-color: #f00;
}
.box02{
  width:colum(6);
  background-color: #f00;
}
.box03{
  width:colum(12);
  background-color: #f00;
}

// 내장함수로 버튼 서식 적용하기
$mainColor:#e134ad;
$_color:#Fff;
.btn{
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: $mainColor;
  color: $_color;
  &.btn2{
    background-color: lighten($mainColor, 20%);
  }
}

// 내장함수 공식 만들기
@function my-lighten($num){
  @return 0.1*$num;
}

.btn3{opacity: my-lighten(8);}
.btn4{opacity: my-lighten(7);}
.btn5{opacity: my-lighten(4);}
.btn6{opacity: my-lighten(3);}
.btn7{opacity: my-lighten(2);}
.btn8{opacity: my-lighten(1);}